* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #0f0d13;
}

body * {
  font-family: "Roboto", sans-serif;
}

#app {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-areas:
    "A B"
    "A C";

  gap: 32px;

  place-content: center;
  height: 100vh;
}

/* player */
#player {
  grid-area: C;
}

.player {
  background-color: #2a2141;
  padding: 28px;
  border-radius: 10px;
}

.player img {
  width: 84px;
  height: 84px;
  object-fit: cover;

  border-radius: 6px;
}

.info-wrapper {
  display: flex;
  align-items: center;
  gap: 28px;
}

.info {
  color: #e1e1e6;
}

.info h1 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 9.6px;
}

.info p {
  opacity: 0.67;
  font-size: 19px;
  margin-bottom: 10px;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  color: #2a2141;
}

.horizontal .controls {
  padding-inline: 58px;
}

@media (max-width: 670px) {
  /* ... */

  audio {
    width: 100%;
  }
}


@media (max-width: 670px) {
  #app {
    display: flex;
    flex-direction: column;

    max-width: 270px;
    margin: auto;

    height: auto;

    padding-block: 60px;
  }

  .horizontal .controls {
    padding-inline: 30px;
  }
}
